<section id="contact" class="container-lg d-flex align-items-center position-relative" style="min-height: 80vh;">
    <div class="row flex-grow-1">
        <div class="col-12 col-md-6 animate-left">
            <h1 style="font-size: 3rem;">Got a project in <span class="text-secondary">mind?</span></h1>
            <div class="d-flex justify-content-center">
                <img src="/assets/images/Group 2372.svg" />
            </div>
        </div>
        <div class="col-12 col-md-6 position-relative animate-right">
            <form>
                <div class="row">
                    <div class="col-12 col-sm-6 mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Your name</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Name">
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Your email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Your message</label>
                    <textarea class="form-control" name="message" id="message" rows="10" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary rounded-5 px-4 py-3 shadow text-white">Send Message <i class="bi bi-send fs-5 mx-2"></i></button>
            </form>
        </div>
    </div>
    <img src="/assets/images/Vector 186.svg" class="d-none d-md-block animate-top"
        style="position: absolute; left: 5%; bottom: 40%; transform: rotate(330deg);" />
</section>