@media screen and (max-width: 1000px) {
    h1 {
        font-size: 3rem !important;
    }

    #sleeping-icons {
        top: 0 !important;
    }

    #sleeping-person {
        top: 0 !important;
        width: 70% !important;
    }

}