<section id="about" class="container-lg d-flex align-items-center position-relative" style="min-height: 70vh;">
    <div class="row flex-grow-1">
        <div class="col-12 col-md-6 animate-left">
            <h1 class="text-nowrap" style="font-size: 3rem;">About <span class="text-secondary">me</span></h1>
            <p style="max-width: 500px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis est id numquam soluta deserunt debitis, excepturi quaerat exercitationem aliquid iure eius ut, recusandae ipsa quae explicabo, dolor vero sed doloribus... <span class="fw-bold" style="cursor: pointer;">Read more</span></p>
        </div>
        <div class="col-12 col-md-6 position-relative animate-right">
            <img src="/assets/images/doodle items.svg" class="w-100"/>
            <img src="/assets/images/Group 62.svg" class="position-absolute translate-middle-x" id="sleeping-person" style="left: 50%; top: 70px; width: 400px;" />
            <img src="/assets/images/Group 2350.svg" class="position-absolute translate-middle-x" id="sleeping-icons" style="left: 50%; top: 80px; width: 70px;" />
        </div>
    </div>
    <img src="/assets/images/Vector 186.svg" class="d-none d-md-block animate-top" style="position: absolute; left: 20%; bottom: 0%; transform: rotate(150deg);"/>
</section>