<div class="footer">
    <footer class="container py-3 mt-4">
        <ul class="nav justify-content-center pb-3 mb-3">
            <li class="nav-item"><a href="#home" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#about" class="nav-link px-2 text-body-secondary">About</a></li>
            <li class="nav-item"><a href="#projects" class="nav-link px-2 text-body-secondary">Projects</a></li>
            <li class="nav-item"><a href="#conact" class="nav-link px-2 text-body-secondary">Contact</a></li>
        </ul>
        <div class="d-flex justify-content-center align-items-center gap-3 mb-3">
            <div class="rounded-circle bg-light bg-opacity-25 d-flex align-items-center text-center" style="width: 50px; height: 50px; cursor: pointer;">
                <i class="bi bi-facebook text-white-50 fs-5 w-100"></i>
            </div>
            <div class="rounded-circle bg-light bg-opacity-25 d-flex align-items-center text-center" style="width: 50px; height: 50px; cursor: pointer;">
                <i class="bi bi-github text-white-50 fs-5 w-100"></i>
            </div>
            <div class="rounded-circle bg-light bg-opacity-25 d-flex align-items-center text-center" style="width: 50px; height: 50px; cursor: pointer;">
                <i class="bi bi-linkedin text-white-50 fs-5 w-100"></i>
            </div>
            <div class="rounded-circle bg-light bg-opacity-25 d-flex align-items-center text-center" style="width: 50px; height: 50px; cursor: pointer;">
                <i class="bi bi-twitter text-white-50 fs-5 w-100"></i>
            </div>
        </div>
        <p class="text-center text-body-secondary">© 2023 Made By Mohamed Wael, Inc</p>
    </footer>
</div>