@media screen and (max-width: 1000px) {
    h1 {
        font-size: 4rem !important;
    }

    // img:first-child {
    //     top: 0 !important;
    //     width: 100% !important;
    // }

    img:last-child {
        // top: 0!important;
        width: 70% !important;
    }
}